/* 

[float]
----


----


normally, using absolute value for height;
using relative value for width;

*/

body {
    font-size: 1.25em;

    /* font-family: sans-serif;
    font-family: "Times New Roman", sans-serif; */

    font-family: sans-serif;
}

#title {
    font-weight: 400;
    font-family: 'Source-Han-Ligh2664ae80c523012';
}

.italics {
    font-style: italic;
}

.about-me-image {
    height: 300px;
    width: 30vw;

    border: 10px double red;

    /* order
    
    4 values:
    top -> right - bottom -> left
    
    */
    padding: 0 0 20px 20px;

    /* order 
    
    2 values:
    top and bottom -> right and left
    
    */

    /* 
    
    1 value:
    top, right bottom, left are same
    
    */
    margin: 80px 40px;
    
    /* float: right; */
    /* float: inherit; */
    float: none;
}

#service-image {
    height: 300px;
    width: 40%;

    background: radial-gradient(circle, red, green, blue);

    border: 10px solid red;
    border: 10px dotted red;
    border: 10px double red;
    border: 10px double rgb(255, 136, 0);  
    
    /* float: right; */
}

.link {
    /* float: right; */
}

.site-table {
    /* display: none; */
}