/* 

[text vs font]
----

* they are different;

----


*/

body {
    /* text-transform */
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: none;

    /* text-algin */
    text-align: center;
    text-align: justify;
}


.link {
    /* 
    text decoration

    */

    /* text-decoration: none;
    text-decoration: overline; */
    text-decoration: underline;
}